

<div class="container-fluid splash" id="splash">
  <div class="container">
    <img src="./assets/IMG_20220327_210559_411.jpg" alt="Portrait of Mr. Roboto" class="profile-image"> 
    <h1>ARUN B L</h1> 
    <h1 class="intro-text"><span class="lead" id="typed">I am a Web Developer</span></h1>
    <span class="continue"><a href="#about"><i class="fa fa-angle-down"></i></a></span>
  </div>
</div>
        <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="content-text" style="text-align:justify;">Hey there! I am a junior software developer based in Kerala, India. I work with some of the popular front end technologies to create beautiful websites that get noticed. I seek experience to gain more knowledge in the web development field.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p class="content-text">If you are in need of a beautiful simple website, I'm your guy. I look forward to talking to you soon!</p>
             </div>
                <div class="col-lg-8 col-lg-offset-2 text-center contact-button">
                </div>
            </div>
        </div>
    </section>
<!-- Services -->
	<!-- START SECTION SERVICES -->
<app-myservices></app-myservices>

	<section class="t-bq-section" id="paul">
		<h1>Testimony</h1>
		<div class="t-bq-wrapper t-bq-wrapper-boxed">
			<div class="t-bq-quote t-bq-quote-paul">
				<div class="t-bq-quote-paul-userpic"></div>
				<div class="t-bq-quote-paul-qmark">
					&#10077;
				</div>
				<div class="t-bq-quote-paul-pattern">
				</div>
				<div class="t-bq-quote-paul-base">
					<blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
	Psychologically, almost all of them were slaves - slaves of faith, slaves of their own kind, slaves of passions, slaves of greed. And if, by the will of fate, one of them was born or became a master, he did not know what to do with his freedom. He again hurried to become a slave - a slave of wealth, unnatural excesses, a slave of dissolute friends, a slave of his slaves. 
					</blockquote>
					<div class="t-bq-quote-paul-meta">
						<div class="t-bq-quote-paul-meta-info">
							<div class="t-bq-quote-paul-author"><cite>{{peopledata[0].name}}</cite></div>
							<div class="t-bq-quote-paul-source"><span>Hard to Be a God</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="t-bq-section" id="jasper">
		<div class="t-bq-wrapper t-bq-wrapper-boxed">
			<div class="t-bq-quote t-bq-quote-jasper">
				<div class="t-bq-quote-jasper-pattern">
					<div class="t-bq-quote-jasper-qmark">
						&#10077;
					</div>
				</div>
	
				<div class="t-bq-quote-jasper-userpic"></div>
	
				<div class="t-bq-quote-jasper-base">
					<blockquote class="t-bq-quote-jasper-text" cite="Strugatsky Brothers">
	He was neat by nature and could not stand any disorder. Maybe that's why, when he got drunk and lost his human form, he always made such a disgusting mess. 
					</blockquote>
					<div class="t-bq-quote-jasper-meta">
						<div class="t-bq-quote-jasper-meta-info">
							<div class="t-bq-quote-jasper-author"><cite>Strugatsky Brothers</cite></div>
							<div class="t-bq-quote-jasper-source"><span>The Powerless of This World </span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="t-bq-section" id="horace">
		<div class="t-bq-wrapper t-bq-wrapper-boxed">
			<div class="t-bq-quote t-bq-quote-horace">
	
				<div class="t-bq-quote-horace-qmark">
					&#10078;
				</div>
	
	
				<div class="t-bq-quote-horace-base">
					<blockquote class="t-bq-quote-horace-text" cite="Strugatsky Brothers">
	Children cannot be beaten. Even without you, they will be beaten for the rest of their lives, and if you want to hit him, it’s better to hit your own face, it will be more useful. 
					</blockquote>
					<div class="t-bq-quote-horace-meta">
						<div class="t-bq-quote-horace-userpic"></div>
						<div class="t-bq-quote-horace-meta-info">
							<div class="t-bq-quote-horace-author"><cite>Strugatsky Brothers</cite></div>
							<div class="t-bq-quote-horace-source"><span>Ugly Swans</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	 